  #app {
    background-color: #fafafa;
    min-height: 100%;
    min-width: 100%;
  }

  .form {
    position: relative;
    float: left;
    width: 50%;
    padding-left: 5%;
    margin: 0 auto;
  }

  .add__lb {
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .add {
    position: relative;
    float: left;
    margin: 0 5px 5px 0;
    width: 35%;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
  }

  .inpstyle {
    margin: 0 0 5px 1%;
    padding: 5px;
    width: 55%;
    border: 1px solid rgba(0, 89, 181, 0.82);
  }

  .add__submit {
    display: block;
    margin: 10px;
    padding: 5px;
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #007DDC;
  }